mixin svgsprite(name, title, isScopedPath)
    - var path = 'assets/img/symbol/svgsprite.svg'
    svg(class=`svgsprite _${name}` tabindex='-1' role='img')&attributes(attributes)
        if(title)
            title= title
        use(xlink:href=`${isScopedPath ? '' : path}#${isScopedPath ? 'svg-gr-' : ''}${name}`)
